<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card bg-white">
            <div class="card-body">
                <h3 class="text-center mb-4">Finalização da Compra</h3>

                <p class="fw-bold">{{produto.nome}}</p>
                <p>Preço: {{produto.preco}}</p>
                <p>Disponibilidade: {{produto.estoque}}</p>

                <form method="POST" action="/produto/comprar/{{produto._id}}">
                    <div class="mb-3">
                        <label for="quantidade" class="form-label">Quantidade:</label>
                        <input type="number" class="form-control" id="quantidade" name="quantidade" min="1" max="{{produto.estoque}}" required style="width: 150px;">
                    </div>

                    <div class="mt-4">
                        <a href="/" class="btn btn-secondary">Voltar</a>
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-circle"></i> Confirmar Compra
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
